.subContainer {
  background-image: url(https://image.shutterstock.com/image-vector/happy-cute-cartoon-tooth-characters-260nw-627726812.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.subContainer form {
  border: none;
}
